body {
    max-width: 1920px;
    font-family: sans-serif;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0;
}

.mt-20 {
    margin-top: 20px;
}

.p-20 {
    padding: 20px;
}

h2 {
    font-size: 32px;
    margin: 15px 0;
}

h3 {
    font-size: 24px;
    margin: 15px 0;
}

.button {
    background-color: #732dd9;
    color: #fff;
    border: 2px solid #732dd9;
    padding: 10px 25px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    opacity: .7;
}

.card {
    width: 30%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px 0;
    border-radius: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.form-control {
    padding: 10px 25px;
    width: 80%;
    height: 40px;
    color: #31353d;
    box-sizing: border-box;
    border: 2px solid #e3d7f3;
    background-color: #fcfcfc;
    border-radius: 10px;
    margin: 15px 0;
}

.form-control:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
}

a:active {
    color: #732dd9;
}

.f-12 {
    font-size: 12px;
}
.invalid-input {
    display: block;
    font-size: 12px;
    color: red;
}