body {
    max-width: 1920px;
    font-family: sans-serif;
    background-color: #F9F9F9;
}

a {
    text-decoration: none;
}

a:active {
    color: #732dd9;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #F9F9F9;
}

.navbar-nav {
    display: block;
    padding-left: 0;
    margin: 0 auto;
    list-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.logo {
    color: #732dd9;
    font-size: 22px;
}

.logo-icon {
    font-size: 22px;
    font-weight: normal;
    margin-right: 4px;
}

.nav-before-login {
    display: block;
    flex: 1 1 20%;
    text-align: right;
    margin: auto;
}

.button {
    background-color: #732dd9;
    color: #fff;
    border: 2px solid #732dd9;
    padding: 10px 25px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 20px;
    cursor: pointer;
}

.button2 {
    background-color: #421980;
    border: 2px solid #421980;
    color: #fff;
}

.button:hover {
    opacity: .7;
}

.button:hover {
    opacity: .7;
}

.nav-a {
    font-size: 16px;
}

.nav-a:hover {
    opacity: .7;
}

.pr-20 {
    padding-right: 20px;
}

.pr-5 {
    padding-right: 5px;
}

@media screen and (max-width: 640px) {
    .wrapper {
        width: 95%;
    }
    .button {
        padding: 5px 7px;
        margin: 5px 0;
        font-size: 12px;
    }
}
