body {
    max-width: 1920px;
    font-family: sans-serif;
    background-color: #F9F9F9;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0;
}
/* movie-description */

.movie-poster img {
    width: 180px;
    height: 300px;
    border-radius: 20px;
    display: inline-block;
}

.movie-poster {
    float: left;
    width: 20%;
}

.movie-description {
    float: right;
    width: 75%;
}

.movie-title {
    width: 40%;
    float: left;
}

.movie-title h1 {
    margin: 0;
}

span {
    font-size: 0.9em;
    color: #732dd9;
}

.btn {
    width: 60%;
    padding-left: 10%;
    float: right;
}

.button {
    background-color: #732dd9;
    color: #fff;
    border: 2px solid #732dd9;
    padding: 10px 25px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 20px;
    cursor: pointer;
}

.book-btn {
    padding: 8px;
    margin: 5px 0;
}

.trailer-btn {
    background-color: rgba(49, 7, 66, 0.863);
    border: 2px solid rgba(49, 7, 66, 0.863);
    color: #fff;
}

.movie-details {
    margin: 4% 0 3%;
}

.showing-theater {
    margin-top: 3%;
}

.check-out {
    background-color: rgba(224, 215, 228, 0.863);
    margin-top: 4%;
    padding: 1%;
    text-align: center;
}
