.container {
    width: 1110px;
    padding: 0 20px;
    margin: 0 auto;
}

.heading {
    margin: 0;
}

a {
    text-decoration: none;
}

.manage-sec {
    display: flex;
    justify-content: flex-start;
 }

 .manage-movie,
 .manage-booking,
 .statistics,
 .manage-theater {
     margin:50px 100px 40px 0;
     width: 150px;
     height: 120px;
     border-radius: 20px;
     text-align: center;
     padding-top: 25px;
     color: #fff;
 }

 .ttl {
    background-color: rgb(239, 230, 243);
    padding: 8px 0 8px 107px;
  }

 .manage-movie {
     background-color: blueviolet;
 }

 .manage-booking {
     background-color: rgb(39, 6, 70);
 }

 .statistics {
    background-color: rgb(17, 168, 93);
}

.manage-theater {
    background-color: blueviolet;
}
