*{
    box-sizing: border-box;

}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0;
  }

.container {
    width: 80%;
    padding: 0 10px;
    margin: 0 auto;
  }

  a {
      text-decoration: none;
  }

  /* UserMovieList */
  .heading {
      margin: 0;
  }

  .show-list {
      margin-top: 4%;
      display: flex;
      justify-content: space-between;
  }

  img {
      width: 180px;
      height: 300px;
      border-radius: 20px;
      display: inline-block;
  }

  .upcoming-list,
  .theater-update {
      margin-top: 40px;
  }

  .ttl {
    background-color: rgb(239, 230, 243);
    padding: 10px 0 10px 107px;
  }

/* manage movie */
.button {
    background: #732ed9;
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 1%;
}
.manage-header .heading {
    display: inline-block;
}

.manage-header .button {
    float: right;
}


