body {
    max-width: 1920px;
    font-family: sans-serif;
    background-color: #f9f9f9;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0;
}

.mt-20 {
    margin-top: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.pt-20 {
    padding-top: 20px;
}

h2 {
    font-size: 32px;
    margin: 15px 0;
}

h3 {
    font-size: 24px;
    margin: 15px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

table {
    margin-top: 20px;
}

.screen {
    text-align: center;
    color: #b3aabf;
    font-size: 14px;
    font-weight: bold;
    width: 60%;
    height: 30px;
    padding-top: 6px;
    border-radius: 10px;
    background-color: #e3d7f3;
    margin: 30px auto;
}

.line {
    margin: 20px 0;
    background-color: #732dd9;
    height: 70px;
}

.alert {
    color: #fff;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}


/*for input fields*/

.inputs {
    width: 50%;
    margin: 0 auto;
}

.form-control {
    padding: 10px 25px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    color: #31353d;
    box-sizing: border-box;
    border: 3px solid #e3d7f3;
    background-color: inherit;
    border-radius: 10px;
    margin: 10px;
}

.form-control2 {
    width: 500px;
    height: 50px;
}

.form-control:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}


/*for responsive*/

@media screen and (max-width: 900px) {
    body {
        font-size: 12px;
    }
    .form-control3 {
        width: 100px;
    }
}

@media screen and (max-width: 640px) {
    h2 {
        font-size: 18px;
        margin: 10px 0;
    }
    h3 {
        font-size: 16px;
        margin: 10px 0;
    }
    .form-control {
        font-size: 12px;
        padding: 2px 5px;
        width: 100px;
        height: 30px;
        border: 2px solid #e3d7f3;
        border-radius: 7px;
        margin: 10px;
    }
    .form-control2 {
        width: 200px;
    }
    .form-control3 {
        width: 60px;
        margin: 10px 3px;
    }
    .line {
        margin: 10px 0;
        height: 30px;
    }
    .alert {
        width: 90%;
        padding-top: 10px;
    }
}