body {
    max-width: 1920px;
    font-family: sans-serif;
    background-color: #F9F9F9;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0;
}