body {
    max-width: 1920px;
    font-family: sans-serif;
    background-color: #F9F9F9;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0;
}

.mt-20 {
    margin-top: 20px;
}

h2 {
    font-size: 32px;
    margin: 15px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.form-control {
    padding: 10px 25px;
    background-color: #fcfcfc;
    font-weight: bold;
    color: #31353d;
    box-sizing: border-box;
    border: 2px solid #e3d7f3;
    border-radius: 20px;
    margin: 10px;
}

.form-control:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}


/* Media */

@media screen and (min-width: 641px) and (max-width: 900px) {
    body {
        max-width: 100%;
    }
    .wrapper {
        width: 95%;
    }
    .left-con {
        width: 35%;
    }
    .right-con {
        width: 60%;
    }
    .time-input {
        width: 58%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:640px) {
    body {
        max-width: 100%;
    }
    .wrapper {
        width: 95%;
    }
    h2 {
        margin: 10px 0;
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
        margin: 10px 0;
    }
    .left-con {
        width: 100%;
    }
    .right-con {
        width: 100%;
    }
    .m-10 {
        margin: 10px 0;
    }
    .time-input {
        width: 100%;
        margin-bottom: 10px;
    }
    .form-control {
        margin: 10px 0;
    }
}