body {
    max-width: 1920px;
    font-family: sans-serif;
    background-color: #F9F9F9;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0;
}

.mt-20 {
    margin-top: 20px;
}

h2 {
    font-size: 32px;
    margin: 15px 0;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebcccc;
}
.left {
    float: left;
}

.right {
    float: right;
}

.form-control {
    padding: 10px 25px;
    background-color: #fcfcfc;
    font-weight: bold;
    color: #31353d;
    box-sizing: border-box;
    border: 3px solid #e3d7f3;
    border-radius: 10px;
    margin: 10px;
}

.form-control:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}