@charset "UTF_8";
* {
    box-sizing: border-box;
}

.left-con {
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 5%;
}

.right-con {
    float: right;
    width: 65%;
    margin-top: 5%;
}

.m-10 {
    margin: 10px;
}

.button {
    background-color: #732dd9;
    color: #fff;
    border: 2px solid #732dd9;
    padding: 10px 25px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 20px;
    cursor: pointer;
}

.button2 {
    background-color: #421980;
    border: 2px solid #421980;
    color: #fff;
    width: 60%;
}

.delete {
    background-color: crimson;
    border: 2px solid crimson;
    color: #fff;
    width: 60%;
}

.button:hover {
    opacity: .7;
}

.right-row2 {
    width: 100%;
    color: #31353d;
}

.row2-left {
    width: 30%;
    float: left;
}

.time-input {
    background-color: #fcfcfc;
    border: 2px solid #e3d7f3;
    padding: 10px 18px;
    margin-right: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 20px;
}

.time-input:focus {
    outline: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input {
    width: 100%;
    text-align: center;
}

.form-input input {
    display: none;
}

.poster {
    width: 175px;
    height: 260px;
    border-radius: 20px;
    display: block;
    margin: 10px auto;
}

.create-poster {
    display: none;
}

.width-1 {
    width: 100%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.line {
    margin: 20px 0;
    background-color: #732dd9;
    padding-bottom: 20px;
}

.line-round {
    border-radius: 25px;
}

.alert {
    list-style: none;
    color: #fff;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}