.wrapper {
    width: 80%;
    margin: 0 auto;
}

.user-info {
    padding: 10px 25px;
    background-color: #fcfcfc;
    font-weight: bold;
    color: #31353d;
    box-sizing: border-box;
    border: 2px solid #e3d7f3;
    border-radius: 20px;
    margin: 10px;
}

.user-info:focus {
    outline: none;
}

.user-info-form {
    padding: 4%;
    text-align: center;
    border: 3px solid #d0c5de45;
    margin: 1% 0%;
    border-radius: 15px;
}

.form-button {
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.cancel {
    background-color: #f1f1f1 !important;
    border: 2px solid #732dd9c7 !important;
    color: #732dd9 !important;
}

.form-title {
    color: #732dd9;
    font-size: 23px;
    padding-top: 4%;
}
.input-container {
    display: inline-block;
}
.input-wrapper {
    display: flex;
    justify-content: center;
}
.form-error {
    font-size: 13px;
    color: red;
}