body {
    max-width: 1920px;
    font-family: sans-serif;
    background-color: #F9F9F9;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    font-size: 0;
}

.mt-20 {
    margin-top: 20px;
}

.ml-10 {
    margin-left: 10px;
}

h2 {
    font-size: 32px;
    margin: 15px 0;
}

.button {
    background-color: #732dd9;
    color: #fff;
    border: 2px solid #732dd9;
    padding: 10px 25px;
    margin: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 20px;
    cursor: pointer;
}

.button2 {
    background-color: #421980;
    border: 2px solid #421980;
    color: #fff;
}

.button:hover {
    opacity: .7;
}

.left {
    float: left;
}

.right {
    float: right;
}

table {
    width: 100%;
}

.report td {
    padding: 20px;
}

.report tr {
    background-color: #f2f2f2;
}

.report th {
    padding: 20px;
    text-align: left;
    background-color: #E3D7F3;
    color: #000;
}

tr:first-child th:first-child {
    border-top-left-radius: 20px;
}

tr:first-child th:last-child {
    border-top-right-radius: 20px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}